@page "/employeedetails/{id}"
@page "/employeedetails"
@inherits EmployeeDetailBase

@if(Employee == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>EmployeeDetail</h3>

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Employee.FirstName @Employee.LastName @Coordenates</h1>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top" src="@Employee.PhotoPath"
                    @onmousemove="@(e => Coordenates = $"X = {e.ClientX} Y = {e.ClientY}")" />

                    <h4>Employee ID : @Employee.EmployeeId</h4>
                    <h4>Email : @Employee.Email</h4>
                    <h4>Department : @(Employee.Department == null ? "N/A" : Employee.Department.DepartmentName)</h4>
                    <button @onclick="@Button_Click">@ButtonText</button>
                </div>
                <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn-primary">Back</a>
                    <a href="#" class="btn-primary">Edit</a>
                    <a href="#" class="btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}


